@import url('https://fonts.googleapis.com/css2?family=Lucida+Calligraphy&display=swap');

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.navbar {
  display: flex;
  justify-content: flex-end;
  background-color: rgba(0, 0, 0, 0);
}

.navbar a {
  display: inline-block;
  padding: 15px 20px;
  text-decoration: none;
  color: white;
}

.navbar ul {
  text-align: center;
}

.navbar li {
  display: inline;
  margin-left: 20px;
}

.container
{
  font-size: 40px;
  color: white;
}

