.marriage-category {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .marriage-category > div {
    width: 100%;
    margin-bottom: 30px;
    padding: 40px;
    background-color: #f0f0f0;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .marriage-category > div h3 {
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande',
      'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: #333;
    text-transform: uppercase;
    margin-bottom: 15px;
  }
  
  .marriage-category > div .images-container {
    display: flex;
    justify-content: space-between;
  }
  
  .marriage-category > div img {
    height: 300px; /* Adjust the height as needed */
    width: auto;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-top: 10px;
  }
  
  .marriage-category > div img:not(:last-child) {
    margin-right: 30px; /* Increase space between images */
  }
  
  .marriage-category > div img:hover {
    transform: scale(1.15);
  }
  .marriage-category > div img {
    height: 300px; /* Set a fixed height for all images */
    width: 18.5%; /* Ensure images maintain aspect ratio */
    object-fit: cover; /* Ensure images cover the entire container */
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-top: 10px;
  }
  